<config>
    <modules>
        <FVets_CheckoutSplit>
            <version>1.0.0</version>
        </FVets_CheckoutSplit>
    </modules>
    <global>
        <helpers>
            <fvets_checkoutsplit>
                <class>FVets_CheckoutSplit_Helper</class>
            </fvets_checkoutsplit>
        </helpers>
        <blocks>
            <fvets_checkoutsplit>
                <class>FVets_CheckoutSplit_Block</class>
            </fvets_checkoutsplit>
            <onestepcheckout>
                <rewrite>
                    <checkout>FVets_CheckoutSplit_Block_Onestepcheckout_Checkout</checkout>
                </rewrite>
            </onestepcheckout>
        </blocks>
        <models>
            <fvets_checkoutsplit>
                <class>FVets_CheckoutSplit_Model</class>
            </fvets_checkoutsplit>
            <checkout>
                <rewrite>
                    <type_onepage>FVets_CheckoutSplit_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <quote>FVets_CheckoutSplit_Model_Sales_Quote</quote>
                    <quote_address>FVets_CheckoutSplit_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <resources>
            <fvets_checkoutsplit_setup>
                <setup>
                    <module>FVets_CheckoutSplit</module>
                </setup>
            </fvets_checkoutsplit_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <sales_order_save_before>
                <observers>
                    <fvets_checkoutsplit_order_save_before>
                        <type>singleton</type>
                        <class>fvets_checkoutsplit/observer</class>
                        <method>setOrderSalesrep</method>
                    </fvets_checkoutsplit_order_save_before>
                </observers>
            </sales_order_save_before>
            <checkout_cart_add_product_complete>
                <observers>
                    <fvets_checkoutsplit>
                        <class>fvets_checkoutsplit/checkout_observer</class>
                        <method>updateProductsRemoveCheckoutFlag</method>
                    </fvets_checkoutsplit>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_update_item_complete>
                <observers>
                    <fvets_checkoutsplit>
                        <class>fvets_checkoutsplit/checkout_observer</class>
                        <method>updateProductsRemoveCheckoutFlag</method>
                    </fvets_checkoutsplit>
                </observers>
            </checkout_cart_update_item_complete>
            <checkout_onepage_controller_success_action>
                <observers>
                    <fvets_checkoutsplit_checkout_readd_products>
                        <type>singleton</type>
                        <class>fvets_checkoutsplit/checkout_observer</class>
                        <method>readdQuoteProducts</method>
                    </fvets_checkoutsplit_checkout_readd_products>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkoutsplit_after_place_order>
                <observers>
                    <fvets_checkoutsplit_checkout_readd_products>
                        <type>singleton</type>
                        <class>fvets_checkoutsplit/checkout_observer</class>
                        <method>readdQuoteProducts2</method>
                    </fvets_checkoutsplit_checkout_readd_products>
                </observers>
            </checkoutsplit_after_place_order>
            <fvets_checkoutsplit_collect_discount>
                <observers>
                    <fvets_payment_save_order_after>
                        <type>singleton</type>
                        <class>fvets_payment/condition_observer</class>
                        <method>setOrderCondition</method>
                    </fvets_payment_save_order_after>
                    <set_condition_discount>
                        <type>singleton</type>
                        <class>fvets_payment/condition_observer</class>
                        <method>setConditionDiscount</method>
                    </set_condition_discount>
                </observers>
            </fvets_checkoutsplit_collect_discount>
            <controller_action_postdispatch_checkout_onepage_success>
                <observers>
                    <fvets_clear_checkout_session>
                        <type>singleton</type>
                        <class>fvets_checkoutsplit/checkout_observer</class>
                        <method>clearCheckoutSession</method>
                    </fvets_clear_checkout_session>
                </observers>
            </controller_action_postdispatch_checkout_onepage_success>
        </events>
        <routers>
            <checkoutsplit>
                <use>standard</use>
                <args>
                    <module>FVets_CheckoutSplit</module>
                    <frontName>checkoutsplit</frontName>
                </args>
            </checkoutsplit>
        </routers>
        <layout>
            <updates>
                <CheckoutSplit module="FVets_CheckoutSplit">
                    <file>checkoutsplit.xml</file>
                </CheckoutSplit>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mage_Core>
                    <files>
                        <default>Mage_Core.csv</default>
                    </files>
                </Mage_Core>
                <Mage_Checkout>
                    <files>
                        <default>Mage_Checkout.csv</default>
                    </files>
                </Mage_Checkout>
                <Mage_Sales>
                    <files>
                        <default>Mage_Sales.csv</default>
                    </files>
                </Mage_Sales>
                <FVets_CheckoutSplit>
                    <files>
                        <default>FVets_CheckoutSplit.csv</default>
                    </files>
                </FVets_CheckoutSplit>
            </modules>
        </translate>
    </frontend>
</config>