<?xml version="1.0"?>
<config>
    <modules>
        <FVets_Customer>
            <version>1.5.1</version>
        </FVets_Customer>
    </modules>
    <global>
        <blocks>
            <fvets_customer>
                <class>FVets_Customer_Block</class>
            </fvets_customer>
            <customer>
                <rewrite>
                    <account_navigation>FVets_Customer_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <adminhtml>
                <rewrite>
                    <customer>FVets_Customer_Block_Adminhtml_Customer</customer>
                    <customer_edit_tab_account>FVets_Customer_Block_Account_Edit_Tab_Account</customer_edit_tab_account>
                    <customer_group_grid>FVets_Customer_Block_Adminhtml_Customer_Group_Grid</customer_group_grid>
                    <customer_group_edit_form>FVets_Customer_Block_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <fvets_customer>
                <class>FVets_Customer_Helper</class>
            </fvets_customer>
        </helpers>
        <template>
            <email>
                <notify_new_customer module="Customer">
                    <label>Template to notify administrator that new customer is registered</label>
                    <file>notify_new_customer.html</file>
                    <type>html</type>
                </notify_new_customer>
                <customer_account_confirmation_email_template translate="label" module="customer">
                    <label>Confirmação de Conta</label>
                    <file>custommer_account_confirmation_one_time.html</file>
                    <type>html</type>
                </customer_account_confirmation_email_template>
                <notify_company_customer_requires_contact module="Customer">
                    <label>Template to notify administrator that the customer is requiring contact</label>
                    <file>notify_company_customer_requires_contact_template.html</file>
                    <type>html</type>
                </notify_company_customer_requires_contact>
            </email>
        </template>
        <models>
            <fvets_customer>
                <class>FVets_Customer_Model</class>
            </fvets_customer>
            <adminhtml>
                <rewrite>
                    <customer>FVets_Customer_Block_Adminhtml_Customer</customer>
                </rewrite>
            </adminhtml>
            <customer_resource>
                <rewrite>
                    <customer>FVets_Customer_Model_Customer_Entity_Customer</customer>
                </rewrite>
            </customer_resource>
            <customer>
                <rewrite>
                    <group>FVets_Customer_Model_Group</group>
                    <session>FVets_Customer_Model_Session</session>
                    <customer_attribute_source_group>FVets_Customer_Model_Customer_Attribute_Source_Group</customer_attribute_source_group>
                </rewrite>
            </customer>
            <customer_resource>
                <rewrite>
                    <group_collection>FVets_Customer_Model_Resource_Group_Collection</group_collection>
                </rewrite>
            </customer_resource>
        </models>
        <resources>
            <fvets_customer_setup>
                <setup>
                    <module>FVets_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fvets_customer_setup>
            <fvets_customer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fvets_customer_write>
            <fvets_customer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fvets_customer_read>
        </resources>
        <rewrite>
            <customer_account_url>
                <from><![CDATA[#^/minhaconta#]]></from>
                <to><![CDATA[/customer/account]]></to>
                <complete>1</complete>
            </customer_account_url>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <fvets_customer before="Mage_Customer_AccountController">FVets_Customer</fvets_customer>
                    </modules>
                </args>
            </customer>
        </routers>
        <translate>
            <modules>
                <FVets_Customer>
                    <files>
                        <default>Mage_Customer.csv</default>
                    </files>
                </FVets_Customer>
            </modules>
        </translate>
        <events>
            <customer_register_success>
                <observers>
                    <fvets_customer>
                        <type>model</type>
                        <class>fvets_customer/observer</class>
                        <method>customerRegisterSuccess</method>
                    </fvets_customer>
                </observers>
            </customer_register_success>
            <before_customer_login>
                <observers>
                    <fvets_customer>
                        <type>model</type>
                        <class>fvets_customer/observer</class>
                        <method>beforeCustomerLogin</method>
                    </fvets_customer>
                </observers>
            </before_customer_login>
            <customer_login>
                <observers>
                    <fvets_customer>
                        <type>model</type>
                        <class>fvets_customer/observer</class>
                        <method>isCustomerActive</method>
                    </fvets_customer>
                </observers>
            </customer_login>
            <controller_action_predispatch>
                <observers>
                    <fvets_customer>
                        <type>model</type>
                        <class>fvets_customer/observer</class>
                        <method>checkAttendantActionAllowed</method>
                    </fvets_customer>
                </observers>
            </controller_action_predispatch>
            <controller_action_layout_load_before>
                <observers>
                    <fvets_customer_core>
                        <type>model</type>
                        <class>fvets_customer/core_observer</class>
                        <method>addCustomerTipopessoaHandle</method>
                    </fvets_customer_core>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FVets_Customer before="Mage_Adminhtml">FVets_Customer_Adminhtml</FVets_Customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <customer translate="title" module="customer">
                            <children>
                                <create translate="title">
                                    <title>Create Customers</title>
                                </create>
                                <tabs translate="title">
                                    <title>Tabs</title>
                                    <children>
                                        <!--wishlist translate="title"><title>Wishlist</title></wishlist-->
                                    </children>
                                </tabs>
                                <email_editable translate="title">
                                    <title>E-mail Editável</title>
                                    <sort_order>100</sort_order>
                                </email_editable>
                                <password_editable translate="title">
                                    <title>Senha Editável</title>
                                    <sort_order>200</sort_order>
                                </password_editable>
                            </children>
                        </customer>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <validate_customer>
                                            <title>FVETS - Customer</title>
                                            <sort_order>900</sort_order>
                                        </validate_customer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>