<?xml version="1.0"?>
<!--
/**
 * FVets_CatalogRestrictionGroup extension
 * 
 * @category       FVets
 * @package        FVets_CatalogRestrictionGroup
 * @copyright      Copyright (c) 2016
 */
-->
<config>
    <modules>
        <FVets_CatalogRestrictionGroup>
            <version>1.0.0</version>
        </FVets_CatalogRestrictionGroup>
    </modules>
    <global>
        <resources>
            <fvets_catalogrestrictiongroup_setup>
                <setup>
                    <module>FVets_CatalogRestrictionGroup</module>
                    <class>FVets_CatalogRestrictionGroup_Model_Resource_Setup</class>
                </setup>
            </fvets_catalogrestrictiongroup_setup>
        </resources>
        <blocks>
            <fvets_catalogrestrictiongroup>
                <class>FVets_CatalogRestrictionGroup_Block</class>
            </fvets_catalogrestrictiongroup>
        </blocks>
        <helpers>
            <fvets_catalogrestrictiongroup>
                <class>FVets_CatalogRestrictionGroup_Helper</class>
            </fvets_catalogrestrictiongroup>
        </helpers>
        <models>
            <fvets_catalogrestrictiongroup>
                <class>FVets_CatalogRestrictionGroup_Model</class>
                <resourceModel>fvets_catalogrestrictiongroup_resource</resourceModel>
            </fvets_catalogrestrictiongroup>
            <fvets_catalogrestrictiongroup_resource>
                <class>FVets_CatalogRestrictionGroup_Model_Resource</class>
                <entities>
                    <entity>
                        <table>fvets_catalogrestrictiongroup_entity</table>
                    </entity>
                    <entity_product>
                        <table>fvets_catalogrestrictiongroup_entity_product</table>
                    </entity_product>
                    <entity_customer>
                        <table>fvets_catalogrestrictiongroup_entity_customer</table>
                    </entity_customer>
                </entities>
            </fvets_catalogrestrictiongroup_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <fvets_catalogrestrictiongroup>
                    <file>fvets_catalogrestrictiongroup.xml</file>
                </fvets_catalogrestrictiongroup>
            </updates>
        </layout>
        <translate>
            <modules>
                <FVets_CatalogRestrictionGroup>
                    <files>
                        <default>FVets_CatalogRestrictionGroup.csv</default>
                    </files>
                </FVets_CatalogRestrictionGroup>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <fvets_catalogrestrictiongroup_catalogrestrictiongroup_product>
                        <type>singleton</type>
                        <class>fvets_catalogrestrictiongroup/adminhtml_observer</class>
                        <method>addProductCatalogrestrictiongroupBlock</method>
                    </fvets_catalogrestrictiongroup_catalogrestrictiongroup_product>
                    <fvets_catalogrestrictiongroup_customer>
                        <type>singleton</type>
                        <class>fvets_catalogrestrictiongroup/adminhtml_observer</class>
                        <method>addCustomerCatalogrestrictiongroupBlock</method>
                    </fvets_catalogrestrictiongroup_customer>
                </observers>
            </core_block_abstract_to_html_before>
            <catalog_product_save_after>
                <observers>
                    <fvets_catalogrestrictiongroup_product>
                        <type>singleton</type>
                        <class>fvets_catalogrestrictiongroup/adminhtml_observer</class>
                        <method>saveProductCatalogrestrictiongroupData</method>
                    </fvets_catalogrestrictiongroup_product>
                </observers>
            </catalog_product_save_after>
            <customer_save_after>
                <observers>
                    <fvets_catalogrestrictiongroup_customer>
                        <type>singleton</type>
                        <class>fvets_catalogrestrictiongroup/adminhtml_observer</class>
                        <method>saveCustomerCatalogrestrictiongroupData</method>
                    </fvets_catalogrestrictiongroup_customer>
                </observers>
            </customer_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FVets_CatalogRestrictionGroup before="Mage_Adminhtml">FVets_CatalogRestrictionGroup_Adminhtml</FVets_CatalogRestrictionGroup>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <fvets_catalogrestrictiongroup>
                    <file>fvets_catalogrestrictiongroup.xml</file>
                </fvets_catalogrestrictiongroup>
            </updates>
        </layout>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <fvets_catalogrestrictiongroup>
                        <type>model</type>
                        <class>fvets_catalogrestrictiongroup/catalog_observer</class>
                        <method>removeUnavailableProducts</method>
                    </fvets_catalogrestrictiongroup>
                </observers>
            </catalog_product_collection_load_before>
        </events>
        <translate>
            <modules>
                <FVets_CatalogRestrictionGroup>
                    <files>
                        <default>FVets_CatalogRestrictionGroup.csv</default>
                    </files>
                </FVets_CatalogRestrictionGroup>
            </modules>
        </translate>
    </frontend>
    <default>
        <fvets_catalogrestrictiongroup>
        </fvets_catalogrestrictiongroup>
    </default>
</config>
