<?xml version="1.0"?>
<config>
    <modules>
        <FVets_ManualIntegration>
            <version>0.0.1</version>
        </FVets_ManualIntegration>
    </modules>
    <global>        
        <helpers>
            <fvets_manualintegration>
                <class>FVets_ManualIntegration_Helper</class>
            </fvets_manualintegration>
        </helpers>
    </global>
    <admin>
        <routers>
            <manualintegration>
                <use>admin</use>
                <args>
                    <module>FVets_ManualIntegration</module>
                    <frontName>manualintegration</frontName>
                </args>
            </manualintegration>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <fvets_manualintegration>
                    <file>fvets_manualintegration.xml</file>
                </fvets_manualintegration>
            </updates>
        </layout>
        <translate>
            <modules>
                <FVets_ManualIntegration>
                    <files>
                        <default>FVets_ManualIntegration.csv</default>
                    </files>
                </FVets_ManualIntegration>
            </modules>
        </translate>
    </adminhtml>
</config>
