<?xml version="1.0"?>
<config>
    <modules>
        <FVets_Review>
            <version>1.0.0</version>
        </FVets_Review>
    </modules>
    <global>
        <helpers>
            <review>
                <class>FVets_Review_Helper</class>
            </review>
        </helpers>
        <models>
            <fvets_review>
                <class>FVets_Review_Model</class>
            </fvets_review>
        </models>
    </global>
    <frontend>
        <routers>
            <review>
                <args>
                    <modules>
                        <fvets_review before="Mage_Review_ProductController">FVets_Review</fvets_review>
                    </modules>
                </args>
            </review>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <review_save_after>
                <observers>
                    <fvets_review_save_after>
                        <type>singleton</type>
                        <class>fvets_review/adminhtml_observer</class>
                        <method>onReviewSave</method>
                    </fvets_review_save_after>
                    <fvets_set_product_has_review>
                        <type>singleton</type>
                        <class>fvets_review/adminhtml_observer</class>
                        <method>setProductHasReview</method>
                    </fvets_set_product_has_review>
                </observers>
            </review_save_after>
        </events>
    </adminhtml>
</config>