<config>
    <modules>
        <FVets_Catalog>
            <version>0.1.2</version>
        </FVets_Catalog>
    </modules>
    <global>
        <resources>
            <fvets_catalog_setup>
                <setup>
                    <module>FVets_Catalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fvets_catalog_setup>
            <fvets_catalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fvets_catalog_write>
            <fvets_catalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fvets_catalog_read>
        </resources>
        <blocks>
            <fvets_catalog>
                <class>FVets_Catalog_Block</class>
            </fvets_catalog>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>FVets_Catalog_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <catalog_product_edit_tab_options_option>FVets_Catalog_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                    <catalog_product_edit_tab_options_type_abstract>FVets_Catalog_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Type_Abstract</catalog_product_edit_tab_options_type_abstract>
                    <catalog_product_edit_tab_options_type_select>FVets_Catalog_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Type_Select</catalog_product_edit_tab_options_type_select>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <category_view>FVets_Catalog_Block_Category_View</category_view>
                    <product_list_toolbar>FVets_Catalog_Block_Product_List_Toolbar</product_list_toolbar>
                    <product_view_options>FVets_Catalog_Block_Product_View_Options</product_view_options>
                    <product_view_options_type_select>FVets_Catalog_Block_Product_View_Options_Type_Select</product_view_options_type_select>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <fvets_catalog>
                <class>FVets_Catalog_Helper</class>
            </fvets_catalog>
        </helpers>
        <models>
            <fvets_catalog>
                <class>FVets_Catalog_Model</class>
            </fvets_catalog>
            <catalog>
                <rewrite>
                    <product>FVets_Catalog_Model_Product</product>
                    <category>FVets_Catalog_Model_Category</category>
                    <product_option>FVets_Catalog_Model_Product_Option</product_option>
                    <product_option_value>FVets_Catalog_Model_Product_Option_Value</product_option_value>
                    <product_type_price>FVets_Catalog_Model_Product_Type_Price</product_type_price>
                </rewrite>
            </catalog>

        </models>
        <cache>
            <types>
                <product_loading>
                    <label>Load de Produtos</label>
                    <description>Cache de carregamento de atributos de produtos.</description>
                    <tags>catalog_product</tags>
                </product_loading>
            </types>
        </cache>
    </global>
    <default>
        <core>
            <cache>
                <lifetime>3600</lifetime>
            </cache>
        </core>
    </default>
    <frontend>
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <fvets_catalog_core>
                        <type>model</type>
                        <class>fvets_catalog/core_observer</class>
                        <method>getLastViewedCategoryLevel</method>
                    </fvets_catalog_core>
                </observers>
            </catalog_controller_category_init_after>
            <controller_action_layout_load_before>
                <observers>
                    <fvets_catalog_core>
                        <type>model</type>
                        <class>fvets_catalog/core_observer</class>
                        <method>addCategoryLevelHandle</method>
                    </fvets_catalog_core>
                </observers>
            </controller_action_layout_load_before>

            <controller_action_layout_render_before_catalog_product_view>
                <observers>
                    <fvets_catalog_core>
                        <type>model</type>
                        <class>fvets_catalog/observer</class>
                        <method>validateProductCustomerAccess</method>
                    </fvets_catalog_core>
                </observers>
            </controller_action_layout_render_before_catalog_product_view>
        </events>
    </frontend>
    <translate>
        <modules>
            <FVets_Catalog>
                <files>
                    <default>FVets_Catalog.csv</default>
                </files>
            </FVets_Catalog>
        </modules>
    </translate>
</config>
