<config>
    <modules>
        <FVets_Integration>
            <version>0.1.1</version>
        </FVets_Integration>
    </modules>
    <frontend>
        <routers>
            <integration>
                <use>standard</use>
                <args>
                    <module>FVets_Integration</module>
                    <frontName>integration</frontName>
                </args>
            </integration>
        </routers>
    </frontend>
    <global>
        <resources>
            <fvets_integration_setup>
                <setup>
                    <module>FVets_Integration</module>
                    <class>FVets_Integration_Model_Resource_Setup</class>
                </setup>
            </fvets_integration_setup>
        </resources>
    </global>
</config>