<?xml version="1.0"?>
<config>
    <modules>
        <FVets_Allin>
            <version>1.1.2</version>
        </FVets_Allin>
    </modules>
    <global>
        <blocks>
            <fvets_allin>
                <class>FVets_Allin_Block</class>
            </fvets_allin>
        </blocks>
        <models>
            <fvets_allin>
                <class>FVets_Allin_Model</class>
                <resourceModel>fvets_allin_resource</resourceModel>
            </fvets_allin>
            <fvets_allin_resource>
                <class>FVets_Allin_Model_Resource</class>
                <entities>
                    <account>
                        <table>fvets_allin_account</table>
                    </account>
                    <trash>
                        <table>fvets_allin_trash</table>
                    </trash>
                </entities>
                <entities>
                    <synchronize>
                        <table>fvets_allin_synchronize</table>
                    </synchronize>
                </entities>
            </fvets_allin_resource>
            <fvets_allin>
                <class>FVets_Allin_Model</class>
            </fvets_allin>
            <fvets_allin_status>
                <class>FVets_Allin_Model</class>
            </fvets_allin_status>
        </models>
        <resources>
            <fvets_allin_setup>
                <setup>
                    <module>FVets_Allin</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fvets_allin_setup>
            <fvets_allin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fvets_allin_write>
            <fvets_allin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fvets_allin_read>
        </resources>
        <helpers>
            <fvets_allin>
                <class>FVets_Allin_Helper</class>
            </fvets_allin>
        </helpers>
    </global>
    <admin>
        <routers>
            <allin>
                <use>admin</use>
                <args>
                    <module>FVets_Allin</module>
                    <frontName>allin</frontName>
                </args>
            </allin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <fvets_allin>
                    <file>fvets_allin.xml</file>
                </fvets_allin>
            </updates>
        </layout>
        <translate>
            <modules>
                <FVets_Allin>
                    <files>
                        <default>FVets_Allin.csv</default>
                    </files>
                </FVets_Allin>
            </modules>
        </translate>
    </adminhtml>
</config>
