<?xml version="1.0"?>
<config>
    <modules>
        <FVets_Cms>
            <version>1.0.0</version>
        </FVets_Cms>
    </modules>
    <global>
        <models>
            <fvets_cms>
                <class>FVets_Cms_Model</class>
            </fvets_cms>
        </models>
        <rewrite>
            <page_url>
                <from><![CDATA[#^/home#]]></from>
                <to>cms/index/index</to>
                <complete>1</complete>
            </page_url>
        </rewrite>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_cms_index_index>
                <observers>
                    <fvets_cms_index_index>
                        <type>model</type>
                        <class>fvets_cms/observer</class>
                        <method>redirectToHomeUrl</method>
                    </fvets_cms_index_index>
                </observers>
            </controller_action_predispatch_cms_index_index>
            <cms_page_render>
                <observers>
                    <fvets_cms_page_renderer>
                        <class>fvets_cms/observer</class>
                        <method>addCmsPageHandle</method>
                    </fvets_cms_page_renderer>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
</config>