<?xml version="1.0"?>
<config>
    <modules>
        <FVets_Customdash>
            <version>1.0.0</version>
        </FVets_Customdash>
    </modules>
    <global>
        <models>
            <fvets_customdash>
                <class>FVets_Customdash_Model</class>
            </fvets_customdash>
        </models>
        <blocks>
            <fvets_customdash>
                <class>FVets_Customdash_Block</class>
            </fvets_customdash>
        </blocks>
        <helpers>
            <fvets_customdash>
                <class>FVets_Customdash_Helper</class>
            </fvets_customdash>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <FVets_Customdash before="Mage_Adminhtml">FVets_Customdash_Adminhtml</FVets_Customdash>
                        <frontname>admin</frontname>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <fvets_customdash>
                    <file>fvets_customdash.xml</file>
                </fvets_customdash>
            </updates>
        </layout>
        <translate>
            <modules>
                <FVets_Customdash>
                    <files>
                        <default>FVets_Customdash.csv</default>
                    </files>
                </FVets_Customdash>
            </modules>
        </translate>
    </adminhtml>
</config>
