<?xml version="1.0"?>
<config>
    <modules>
        <MageFM_MoIP>
            <version>1.0.0</version>
        </MageFM_MoIP>
    </modules>
    <global>
        <blocks>
            <magefm_moip>
                <class>MageFM_MoIP_Block</class>
            </magefm_moip>
        </blocks>
        <helpers>
            <magefm_moip>
                <class>MageFM_MoIP_Helper</class>
            </magefm_moip>
        </helpers>
        <models>
            <magefm_moip>
                <class>MageFM_MoIP_Model</class>
            </magefm_moip>
        </models>
        <resources>
            <magefm_moip_setup>
                <setup>
                    <module>MageFM_MoIP</module>
                </setup>
            </magefm_moip_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <magefm_moip_token>
                    <to_order_payment>*</to_order_payment>
                </magefm_moip_token>
                <magefm_moip_result>
                    <to_order_payment>*</to_order_payment>
                </magefm_moip_result>
                <cc_installments>
                    <to_order_payment>*</to_order_payment>
                </cc_installments>
                <portador_nome>
                    <to_order_payment>*</to_order_payment>
                </portador_nome>
                <portador_nascimento>
                    <to_order_payment>*</to_order_payment>
                </portador_nascimento>
                <portador_cpf>
                    <to_order_payment>*</to_order_payment>
                </portador_cpf>
                <portador_telefone>
                    <to_order_payment>*</to_order_payment>
                </portador_telefone>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <magefm_moip_token>
                    <to_quote_payment>*</to_quote_payment>
                </magefm_moip_token>
                <magefm_moip_result>
                    <to_quote_payment>*</to_quote_payment>
                </magefm_moip_result>
                <cc_installments>
                    <to_quote_payment>*</to_quote_payment>
                </cc_installments>
                <portador_nome>
                    <to_quote_payment>*</to_quote_payment>
                </portador_nome>
                <portador_nascimento>
                    <to_quote_payment>*</to_quote_payment>
                </portador_nascimento>
                <portador_cpf>
                    <to_quote_payment>*</to_quote_payment>
                </portador_cpf>
                <portador_telefone>
                    <to_quote_payment>*</to_quote_payment>
                </portador_telefone>
            </sales_convert_order_payment>
        </fieldsets>
        <payment>
            <cc>
                <types>
                    <DN>
                        <code>DN</code>
                        <name>Diners</name>
                        <order>60</order>
                    </DN>
                    <HC>
                        <code>HC</code>
                        <name>Hipercard</name>
                        <order>70</order>
                    </HC>
                </types>
            </cc>
        </payment>
    </global>
    <frontend>
        <routers>
            <magefm_moip>
                <use>standard</use>
                <args>
                    <module>MageFM_MoIP</module>
                    <frontName>magefm_moip</frontName>
                </args>
            </magefm_moip>
        </routers>
        <translate>
            <modules>
                <MageFM_MoIP>
                    <files>
                        <default>MageFM_MoIP.csv</default>
                    </files>
                </MageFM_MoIP>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <MageFM_MoIP>
                    <files>
                        <default>MageFM_MoIP.csv</default>
                    </files>
                </MageFM_MoIP>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <magefm_moip>
                <testing>0</testing>
            </magefm_moip>
            <magefm_moip_boleto>
                <payment_action>order</payment_action>
                <model>MageFM_MoIP_Model_Boleto</model>
                <order_status>pending_payment</order_status>
            </magefm_moip_boleto>
            <magefm_moip_creditcard>
                <payment_action>authorize</payment_action>
                <model>MageFM_MoIP_Model_CreditCard</model>
                <order_status>pending</order_status>
                <cctypes><![CDATA[VI,MC]]></cctypes>
                <installments_maximum_number>12</installments_maximum_number>
                <installments_minimum_amount>30.00</installments_minimum_amount>
            </magefm_moip_creditcard>
        </payment>
    </default>
</config>
