<?xml version="1.0"?>
<!--
/**
 * FVets_TablePrice extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       FVets
 * @package        FVets_TablePrice
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <FVets_TablePrice>
            <version>1.0.3</version>
        </FVets_TablePrice>
    </modules>
    <global>
        <resources>
            <fvets_tableprice_setup>
                <setup>
                    <module>FVets_TablePrice</module>
                    <class>FVets_TablePrice_Model_Resource_Setup</class>
                </setup>
            </fvets_tableprice_setup>
        </resources>
        <blocks>
            <fvets_tableprice>
                <class>FVets_TablePrice_Block</class>
            </fvets_tableprice>
            <adminhtml>
                <rewrite>
                    <customer_group_edit_form>FVets_TablePrice_Block_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
                    <sales_order_view_items_renderer_default>FVets_TablePrice_Block_Adminhtml_Sales_Order_View_Items_Renderer_Default</sales_order_view_items_renderer_default>
                    <sales_order_totals>FVets_TablePrice_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <fvets_tableprice>
                <class>FVets_TablePrice_Helper</class>
            </fvets_tableprice>
        </helpers>
        <models>
            <fvets_tableprice>
                <class>FVets_TablePrice_Model</class>
                <resourceModel>fvets_tableprice_resource</resourceModel>
            </fvets_tableprice>
            <fvets_tableprice_resource>
                <class>FVets_TablePrice_Model_Resource</class>
                <entities>
                    <tableprice>
                        <table>fvets_tableprice</table>
                    </tableprice>
                    <category>
                        <table>fvets_tableprice_category</table>
                    </category>
                </entities>
            </fvets_tableprice_resource>
        </models>
        <fieldsets>
            <sales_convert_quote>
                <tableprice_discount_amount>
                    <to_order>*</to_order>
                </tableprice_discount_amount>
            </sales_convert_quote>
            <sales_convert_quote_item>
                <tableprice>
                    <to_order_item>*</to_order_item>
                </tableprice>
                <tableprice_discount_percent>
                    <to_order_item>*</to_order_item>
                </tableprice_discount_percent>
                <tableprice_discount_amount>
                    <to_order_item>*</to_order_item>
                </tableprice_discount_amount>
            </sales_convert_quote_item>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <fvets_tableprice>
                        <class>fvets_tableprice/sales_quote_address_total_tableprice</class>
                        <before>nominal</before>
                    </fvets_tableprice>
                </totals>
            </quote>
        </sales>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <fvets_tableprice>
                    <file>fvets_tableprice.xml</file>
                </fvets_tableprice>
            </updates>
        </layout>
        <translate>
            <modules>
                <FVets_TablePrice>
                    <files>
                        <default>FVets_TablePrice.csv</default>
                    </files>
                </FVets_TablePrice>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <fvets_tableprice_tableprice_category>
                        <type>singleton</type>
                        <class>fvets_tableprice/adminhtml_observer</class>
                        <method>addCategoryTablepriceBlock</method>
                    </fvets_tableprice_tableprice_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_save_after>
                <observers>
                    <fvets_tableprice_tableprice_category>
                        <type>singleton</type>
                        <class>fvets_tableprice/adminhtml_observer</class>
                        <method>saveCategoryTablepriceData</method>
                    </fvets_tableprice_tableprice_category>
                </observers>
            </catalog_category_save_after>
            <adminhtml_customer_group_save>
                <observers>
                    <fvets_tableprice>
                        <type>singleton</type>
                        <class>fvets_tableprice/adminhtml_customer_observer</class>
                        <method>addCustomerGroupHasMultipleTable</method>
                    </fvets_tableprice>
                </observers>
            </adminhtml_customer_group_save>
            <!--controller_action_postdispatch_adminhtml_customer_group_save>
                <observers>
                    <fvets_tableprice>
                        <type>singleton</type>
                        <class>fvets_tableprice/adminhtml_customer_observer</class>
                        <method>addCustomerGroupHasMultipleTable</method>
                    </fvets_tableprice>
                </observers>
            </controller_action_postdispatch_adminhtml_customer_group_save-->
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FVets_TablePrice before="Mage_Adminhtml">FVets_TablePrice_Adminhtml</FVets_TablePrice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <fvets_tableprice_order_add_item>
                        <type>singleton</type>
                        <class>fvets_tableprice/observer</class>
                        <method>setCheckoutCartProductAddTableprice</method>
                    </fvets_tableprice_order_add_item>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_address_discount_aggregate_item_before>
                <observers>
                    <fvets_tableprice_order_add_item>
                        <type>singleton</type>
                        <class>fvets_tableprice/observer</class>
                        <method>setOrderItemTableprice</method>
                    </fvets_tableprice_order_add_item>
                </observers>
            </sales_quote_address_discount_aggregate_item_before>
        </events>
        <translate>
            <modules>
                <FVets_TablePrice>
                    <files>
                        <default>FVets_TablePrice.csv</default>
                    </files>
                </FVets_TablePrice>
            </modules>
        </translate>
    </frontend>
    <default>
        <sales>
            <totals_sort>
                <fvets_tableprice>5</fvets_tableprice>
            </totals_sort>
        </sales>
    </default>
</config>
