<?xml version="1.0"?>
<config>
	<modules>
		<FVets_Price>
			<version>1.0.0</version>
		</FVets_Price>
	</modules>
	<global>
		<models>
			<fvets_price>
				<class>FVets_Price_Model</class>
			</fvets_price>
		</models>
	</global>
    <frontend>
        <events>
            <sales_quote_address_discount_aggregate_item_before>
                <observers>
                    <fvets_price_cart_add_price>
                        <type>singleton</type>
                        <class>fvets_price/observer</class>
                        <method>cartAddPercentToProductPrice</method>
                    </fvets_price_cart_add_price>
                </observers>
            </sales_quote_address_discount_aggregate_item_before>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <price>
                                            <title>FVets - Price</title>
                                            <sort_order>900</sort_order>
                                        </price>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>