<?xml version="1.0"?>
<config>
    <modules>
        <FVets_Salesrep>
            <version>4.1.1</version>
        </FVets_Salesrep>
    </modules>
    <global>
        <resources>
            <fvets_salesrep_setup>
                <setup>
                    <module>FVets_Salesrep</module>
                    <class>FVets_Salesrep_Model_Resource_Setup</class>
                </setup>
            </fvets_salesrep_setup>
        </resources>
        <blocks>
            <fvets_salesrep>
                <class>FVets_Salesrep_Block</class>
            </fvets_salesrep>
            <adminhtml>
                <rewrite>
                    <sales_order_view_items_renderer_default>FVets_Salesrep_Block_Adminhtml_Sales_Order_View_Items_Renderer_Default</sales_order_view_items_renderer_default>
                    <sales_order_view>FVets_Salesrep_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <fvets_salesrep>
                <class>FVets_Salesrep_Helper</class>
            </fvets_salesrep>
        </helpers>
        <models>
            <fvets_salesrep>
                <class>FVets_Salesrep_Model</class>
                <resourceModel>fvets_salesrep_resource</resourceModel>
            </fvets_salesrep>
            <fvets_salesrep_resource>
                <class>FVets_Salesrep_Model_Resource</class>
                <entities>
                    <salesrep>
                        <table>fvets_salesrep</table>
                    </salesrep>
                    <category>
                        <table>fvets_salesrep_category</table>
                    </category>
                    <region>
                        <table>fvets_salesrep_region</table>
                    </region>
                </entities>
            </fvets_salesrep_resource>
            <sales>
                <rewrite>
                    <order>FVets_Salesrep_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <fieldsets>
            <sales_convert_quote_item>
                <salesrep_id>
                    <to_order_item>*</to_order_item>
                </salesrep_id>
            </sales_convert_quote_item>
        </fieldsets>
    </global>
	<frontend>
        <events>
            <catalog_category_collection_load_before>
                <observers>
                    <fvets_salesrep>
                        <type>model</type>
                        <class>fvets_salesrep/catalog_observer</class>
                        <method>removeUnavailableCategories</method>
                    </fvets_salesrep>
                </observers>
            </catalog_category_collection_load_before>
            <catalog_product_collection_load_before>
                <observers>
                    <fvets_salesrep>
                        <type>model</type>
                        <class>fvets_salesrep/catalog_observer</class>
                        <method>removeUnavailableProducts</method>
                    </fvets_salesrep>
                </observers>
            </catalog_product_collection_load_before>
            <customer_login>
                <observers>
                    <fvets_salesrep>
                        <type>model</type>
                        <class>fvets_salesrep/observer</class>
                        <method>customerSalesrepLogin</method>
                    </fvets_salesrep>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <fvets_salesrep>
                        <type>model</type>
                        <class>fvets_salesrep/observer</class>
                        <method>customerSalesrepLogout</method>
                    </fvets_salesrep>
                </observers>
            </customer_logout>
            <controller_action_predispatch>
                <observers>
                    <fvets_salesrep>
                        <type>model</type>
                        <class>fvets_salesrep/observer</class>
                        <method>checkSalesrepActionAllowed</method>
                    </fvets_salesrep>
                </observers>
            </controller_action_predispatch>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <fvets_salesreap_order_add_item>
                        <type>singleton</type>
                        <class>fvets_salesrep/observer</class>
                        <method>setOrderItemSalerep</method>
                    </fvets_salesreap_order_add_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_quote_item_set_product>
                <observers>
                    <fvets_salesrep_quote_item_set_product>
                        <type>singleton</type>
                        <class>fvets_salesrep/observer</class>
                        <method>setQuoteItemSalerep</method>
                    </fvets_salesrep_quote_item_set_product>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <routers>
            <salesreplogin>
                <use>standard</use>
                <args>
                    <module>FVets_Salesrep_Login</module>
                    <frontName>salesreplogin</frontName>
                </args>
            </salesreplogin>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FVets_Salesrep before="Mage_Adminhtml">FVets_Salesrep_Adminhtml</FVets_Salesrep>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <fvets_salesrep>
                    <file>fvets_salesrep.xml</file>
                </fvets_salesrep>
            </updates>
        </layout>
        <translate>
            <modules>
                <FVets_Salesrep>
                    <files>
                        <default>FVets_Salesrep.csv</default>
                    </files>
                </FVets_Salesrep>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <fvets_salesrep_integrarep_customer>
                        <type>singleton</type>
                        <class>fvets_salesrep/adminhtml_observer</class>
                        <method>addCustomerIntegrarepBlock</method>
                    </fvets_salesrep_integrarep_customer>
                </observers>
            </core_block_abstract_to_html_before>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <fvets_salesrep_category>
                        <type>singleton</type>
                        <class>fvets_salesrep/adminhtml_observer</class>
                        <method>addCategorySalesrepBlock</method>
                    </fvets_salesrep_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_save_after>
                <observers>
                    <fvets_salesrep_category>
                        <type>singleton</type>
                        <class>fvets_salesrep/adminhtml_observer</class>
                        <method>saveCategorySalesrepData</method>
                    </fvets_salesrep_category>
                </observers>
            </catalog_category_save_after>
            <adminhtml_customer_prepare_save>
                <observers>
                    <fvets_customer_prepare_save>
                        <type>singleton</type>
                        <class>fvets_salesrep/adminhtml_observer</class>
                        <method>saveCustomerIntegrarepData</method>
                    </fvets_customer_prepare_save>
                </observers>
            </adminhtml_customer_prepare_save>
        </events>
    </adminhtml>
</config>
