Olá,<br />
Um cliente novo está querendo se cadastrar no site da PECLAM. Precisamos que você autorize-o para que ele possa adquirir produtos. Seguem os dados do cliente:<br /><br />

Nome: {{var name}}<br />
Email:  {{var email}}<br />
Telefone:  {{var telefone}}<br />
Endereço:  {{var endereco}}<br />
Tipo de pessoa: {{var tipopessoa}}<br />
CNPJ:  {{var cnpj}}<br />
Razão Social:  {{var razao_social}}<br />
CRMV:  {{var crmv}}<br />

<br />

Para autorizar este cliente e indicar um representante para atendê-lo., clique aqui.

<br /><br />

Boas vendas!

<br /><br />

(Não responda este e-mail)