<?xml version="1.0"?>
<!--
/**
 * FVets_Payment extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       FVets
 * @package        FVets_Payment
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <FVets_Payment>
            <version>2.6.0</version>
        </FVets_Payment>
    </modules>
    <global>
        <resources>
            <fvets_payment_setup>
                <setup>
                    <module>FVets_Payment</module>
                    <class>FVets_Payment_Model_Resource_Setup</class>
                </setup>
            </fvets_payment_setup>
        </resources>
        <blocks>
            <fvets_payment>
                <class>FVets_Payment_Block</class>
            </fvets_payment>
            <payment>
                <rewrite>
                    <form_cashondelivery>FVets_Payment_Block_Form_Cashondelivery</form_cashondelivery>
                </rewrite>
            </payment>
            <gwap>
                <rewrite>
                    <info_boleto>FVets_Payment_Block_Gwap_Info_Boleto</info_boleto>
                    <info_cc>FVets_Payment_Block_Gwap_Info_Cc</info_cc>
                    <info_deposito>FVets_Payment_Block_Gwap_Info_Deposito</info_deposito>
                </rewrite>
            </gwap>
            <!--sales>
                <rewrite>
                    <order_totals>FVets_Payment_Block_Order_Totals</order_totals>
                </rewrite>
            </sales-->
            <!--adminhtml>
                <rewrite>
                    <customer_edit_tabs>FVets_Payment_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                </rewrite>
            </adminhtml-->
        </blocks>
        <helpers>
            <payment>
                <rewrite>
                    <data>FVets_Payment_Helper_Data</data>
                </rewrite>
            </payment>
            <gwap>
                <rewrite>
                    <data>FVets_Payment_Helper_Gwap</data>
                </rewrite>
            </gwap>
            <fvets_payment>
                <class>FVets_Payment_Helper</class>
            </fvets_payment>
        </helpers>
        <models>
            <fvets_payment>
                <class>FVets_Payment_Model</class>
                <resourceModel>fvets_payment_resource</resourceModel>
            </fvets_payment>
            <payment>
                <rewrite>
                    <method_cashondelivery>FVets_Payment_Model_Method_Cashondelivery</method_cashondelivery>
                </rewrite>
            </payment>
            <gwap>
                <rewrite>
                    <observer>FVets_Payment_Model_Gwap_Observer</observer>
                    <methods_boleto>FVets_Payment_Model_Gwap_Methods_Boleto</methods_boleto>
                    <methods_cc>FVets_Payment_Model_Gwap_Methods_Cc</methods_cc>
                    <methods_deposito>FVets_Payment_Model_Gwap_Methods_Deposito</methods_deposito>
                </rewrite>
            </gwap>
            <fvets_payment_resource>
                <class>FVets_Payment_Model_Resource</class>
                <entities>
                    <condition>
                        <table>fvets_payment_condition</table>
                    </condition>
                    <condition_store>
                        <table>fvets_payment_condition_store</table>
                    </condition_store>
                    <condition_customer>
                        <table>fvets_payment_condition_customer</table>
                    </condition_customer>
                    <condition_category>
                        <table>fvets_payment_condition_category</table>
                    </condition_category>
                    <condition_excluded>
                        <table>fvets_payment_condition_excluded</table>
                    </condition_excluded>
                </entities>
            </fvets_payment_resource>
        </models>
        <fieldsets>
            <sales_convert_quote>
                <invoice_capture>
                    <to_order>*</to_order>
                </invoice_capture>
                <payment_discount>
                    <to_order>*</to_order>
                </payment_discount>
                <payment_increase>
                    <to_order>*</to_order>
                </payment_increase>
                <payment_increase_amount>
                    <to_order>*</to_order>
                </payment_increase_amount>
            </sales_convert_quote>
            <sales_convert_quote_item>
                <increase_percent>
                    <to_order_item>*</to_order_item>
                </increase_percent>
                <increase_amount>
                    <to_order_item>*</to_order_item>
                </increase_amount>
            </sales_convert_quote_item>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <payment_condition_discount>
                        <class>fvets_payment/sales_quote_address_total_condition_discount</class>
                        <after>subtotal</after>
                    </payment_condition_discount>
                    <payment_condition_increase>
                        <class>fvets_payment/sales_quote_address_total_condition_increase</class>
                        <after>subtotal</after>
                    </payment_condition_increase>
                </totals>
            </quote>
        </sales>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <fvets_payment>
                    <file>fvets_payment.xml</file>
                </fvets_payment>
            </updates>
        </layout>
        <translate>
            <modules>
                <FVets_Payment>
                    <files>
                        <default>Mage_Payment.csv</default>
                    </files>
                </FVets_Payment>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <fvets_payment_condition_customer>
                        <type>singleton</type>
                        <class>fvets_payment/adminhtml_observer</class>
                        <method>addCustomerConditionBlock</method>
                    </fvets_payment_condition_customer>
                </observers>
            </core_block_abstract_to_html_before>
            <customer_save_after>
                <observers>
                    <fvets_payment_condition_customer>
                        <type>singleton</type>
                        <class>fvets_payment/adminhtml_observer</class>
                        <method>saveCustomerConditionData</method>
                    </fvets_payment_condition_customer>
                </observers>
            </customer_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FVets_Payment before="Mage_Adminhtml">FVets_Payment_Adminhtml</FVets_Payment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <gwap>
                <args>
                    <modules>
                        <FVets_Payment before="Allpago_Gwap">FVets_Payment</FVets_Payment>
                    </modules>
                </args>
            </gwap>
        </routers>
        <layout>
            <updates>
                <fvets_payment>
                    <file>fvets_payment.xml</file>
                </fvets_payment>
            </updates>
        </layout>
        <translate>
            <modules>
                <FVets_Payment>
                    <files>
                        <default>FVets_Payment.csv</default>
                    </files>
                </FVets_Payment>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_onestepcheckout_ajax_set_methods_separate>
                <observers>
                    <fvets_payment_ajax_set_methods_separate_after>
                        <type>singleton</type>
                        <class>fvets_payment/condition_observer</class>
                        <method>setOrderCondition</method>
                    </fvets_payment_ajax_set_methods_separate_after>
                </observers>
            </controller_action_predispatch_onestepcheckout_ajax_set_methods_separate>
            <controller_action_predispatch_checkoutsplit_ajax_get_checkout_next_step>
                <observers>
                    <fvets_payment_ajax_set_methods_separate_after>
                        <type>singleton</type>
                        <class>fvets_payment/condition_observer</class>
                        <method>setOrderCondition</method>
                    </fvets_payment_ajax_set_methods_separate_after>
                </observers>
            </controller_action_predispatch_checkoutsplit_ajax_get_checkout_next_step>
            <sales_quote_collect_totals_before>
                <observers>
                    <remove_condition_increase>
                        <type>singleton</type>
                        <class>fvets_payment/condition_observer</class>
                        <method>removeConditionIncrease</method>
                    </remove_condition_increase>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_quote_collect_totals_after>
                <observers>
                    <fvets_payment_save_order_after>
                        <type>singleton</type>
                        <class>fvets_payment/condition_observer</class>
                        <method>setOrderCondition</method>
                    </fvets_payment_save_order_after>
                    <set_condition_discount>
                        <type>singleton</type>
                        <class>fvets_payment/condition_observer</class>
                        <method>setConditionDiscount</method>
                    </set_condition_discount>
                    <set_condition_increase>
                        <type>singleton</type>
                        <class>fvets_payment/condition_observer</class>
                        <method>setConditionIncrease</method>
                    </set_condition_increase>
                </observers>
            </sales_quote_collect_totals_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <fvets_payment_save_order_after>
                        <type>singleton</type>
                        <class>fvets_payment/condition_observer</class>
                        <method>unsetCondition</method>
                    </fvets_payment_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>
            <fvets_payment_clean_conditions>
                <observers>
                    <fvets_payment_clean_conditions>
                        <type>singleton</type>
                        <class>fvets_payment/condition_observer</class>
                        <method>cleanConditions</method>
                    </fvets_payment_clean_conditions>
                </observers>
            </fvets_payment_clean_conditions>
        </events>
    </frontend>
    <default>
        <fvets_payment>
        </fvets_payment>
		<payment>
            <cashondelivery>
                <payment_action>order</payment_action>
            </cashondelivery>
        </payment>
        <sales>
            <totals_sort>
                <payment_condition_discount>15</payment_condition_discount>
                <payment_condition_increase>20</payment_condition_increase>
            </totals_sort>
        </sales>
    </default>
</config>
