<?xml version="1.0"?>
<!--
/**
 * FVets_SalesRule extension
 * 
 * @category       FVets
 * @package        FVets_SalesRule
 */
-->
<config>
    <modules>
        <FVets_SalesRule>
            <version>2.2.1</version>
        </FVets_SalesRule>
    </modules>
    <global>
        <resources>
            <fvets_salesrule_setup>
                <setup>
                    <module>FVets_SalesRule</module>
                    <class>FVets_SalesRule_Model_Resource_Setup</class>
                </setup>
            </fvets_salesrule_setup>
        </resources>
        <blocks>
            <fvets_salesrule>
                <class>FVets_SalesRule_Block</class>
            </fvets_salesrule>
            <adminhtml>
                <rewrite>
                    <promo_quote_grid>FVets_SalesRule_Block_Adminhtml_Promo_Quote_Grid</promo_quote_grid>
                    <promo_quote_edit_tabs>FVets_SalesRule_Block_Adminhtml_Promo_Quote_Edit_Tabs</promo_quote_edit_tabs>
                    <promo_quote_edit_tab_main>FVets_SalesRule_Block_Adminhtml_Promo_Quote_Edit_Tab_Main</promo_quote_edit_tab_main>
                    <promo_quote_edit_tab_actions>FVets_SalesRule_Block_Adminhtml_Promo_Quote_Edit_Tab_Actions</promo_quote_edit_tab_actions>
                    <promo_quote_edit_tab_conditions>FVets_SalesRule_Block_Adminhtml_Promo_Quote_Edit_Tab_Conditions</promo_quote_edit_tab_conditions>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <fvets_salesrule>
                <class>FVets_SalesRule_Helper</class>
            </fvets_salesrule>
        </helpers>
        <models>
            <fvets_salesrule>
                <class>FVets_SalesRule_Model</class>
                <resourceModel>fvets_salesrule_resource</resourceModel>
            </fvets_salesrule>
            <fvets_salesrule_resource>
                <class>FVets_SalesRule_Model_Resource</class>
                <entities>
                    <customer>
                        <table>fvets_salesrule_customer</table>
                    </customer>
                    <label>
                        <table>fvets_salesrule_label</table>
                    </label>
                    <premier>
                        <table>fvets_salesrule_premier</table>
                    </premier>
                    <premier_report>
                        <table>fvets_salesrule_premier_report</table>
                    </premier_report>
                    <customer_group>
                        <table>salesrule_customer_group</table>
                    </customer_group>
                </entities>
            </fvets_salesrule_resource>
            <salesrule>
                <rewrite>
                    <validator>FVets_SalesRule_Model_SalesRule_Validator</validator>
                    <rule>FVets_SalesRule_Model_SalesRule_Rule</rule>
                </rewrite>
            </salesrule>
            <salesrule_resource>
                <rewrite>
                    <rule>FVets_SalesRule_Model_SalesRule_Resource_Rule</rule>
                    <rule_collection>FVets_SalesRule_Model_SalesRule_Resource_Rule_Collection</rule_collection>
                </rewrite>
            </salesrule_resource>
        </models>
        <sales>
            <quote>
                <totals>
                    <freeshipping>
                        <class>salesrule/quote_freeshipping</class>
                        <after>subtotal</after>
                        <before>tax_subtotal,shipping</before>
                    </freeshipping>
                    <discount>
                        <class>salesrule/quote_discount</class>
                        <after>subtotal,shipping</after>
                        <before>grand_total</before>
                    </discount>
                    <discount_by_percent>
                        <class>fvets_salesrule/quote_address_total_discount_byPercent</class>
                        <after>subtotal,shipping</after>
                        <before>discount,grand_total</before>
                    </discount_by_percent>
                    <discount_by_fixed>
                        <class>fvets_salesrule/quote_address_total_discount_byFixed</class>
                        <after>subtotal,shipping</after>
                        <before>discount,grand_total</before>
                    </discount_by_fixed>
                    <discount_cart_fixed>
                        <class>fvets_salesrule/quote_address_total_discount_cartFixed</class>
                        <after>subtotal,shipping</after>
                        <before>discount,grand_total</before>
                    </discount_cart_fixed>
                    <discount_buy_x_get_y>
                        <class>fvets_salesrule/quote_address_total_discount_buyXGetY</class>
                        <after>subtotal,shipping</after>
                        <before>discount,grand_total</before>
                    </discount_buy_x_get_y>
                    <discount_apromo_items>
                        <class>fvets_salesrule/quote_address_total_discount_apromoItems</class>
                        <after>subtotal,shipping</after>
                        <before>discount,grand_total</before>
                    </discount_apromo_items>
                    <discount_apromo_cart>
                        <class>fvets_salesrule/quote_address_total_discount_apromoCart</class>
                        <after>subtotal,shipping</after>
                        <before>discount,grand_total</before>
                    </discount_apromo_cart>
                    <discount_apromo_product>
                        <class>fvets_salesrule/quote_address_total_discount_apromoProduct</class>
                        <after>subtotal,shipping</after>
                        <before>discount,grand_total</before>
                    </discount_apromo_product>
                </totals>
            </quote>
        </sales>

        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <fvets_salesrule_newsletter_send_coupon>
                        <class>fvets_salesrule/salesrule_observer</class>
                        <method>newsletterSendCoupon</method>
                    </fvets_salesrule_newsletter_send_coupon>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <fvets_salesrule>
                    <file>fvets_salesrule.xml</file>
                </fvets_salesrule>
            </updates>
        </layout>
        <translate>
            <modules>
                <FVets_SalesRule>
                    <files>
                        <default>FVets_SalesRule.csv</default>
                    </files>
                </FVets_SalesRule>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <fvets_salesrule_customer>
                        <type>singleton</type>
                        <class>fvets_salesrule/adminhtml_observer</class>
                        <method>addCustomerSalesruleBlock</method>
                    </fvets_salesrule_customer>
                </observers>
            </core_block_abstract_to_html_before>
            <!--adminhtml_block_html_before>
                <observers>
                    <Event_column_append>
                        <type>model</type>
                        <class>fvets_salesrule/adminhtml_observer</class>
                        <method>appendCustomColumn</method>
                    </Event_column_append>
                </observers>
            </adminhtml_block_html_before-->
            <salesrule_rule_load_after>
                <observers>
                    <fvets_salesrule_premier>
                        <type>singleton</type>
                        <class>fvets_salesrule/adminhtml_observer</class>
                        <method>loadSalesrulePremierRelation</method>
                    </fvets_salesrule_premier>
                </observers>
            </salesrule_rule_load_after>
            <salesrule_rule_save_before>
                <observers>
                    <fvets_salesrule_customer>
                        <type>singleton</type>
                        <class>fvets_salesrule/adminhtml_observer</class>
                        <method>deleteGroupSalesruleData</method>
                    </fvets_salesrule_customer>
                </observers>
            </salesrule_rule_save_before>
            <customer_save_after>
                <observers>
                    <fvets_salesrule_customer>
                        <type>singleton</type>
                        <class>fvets_salesrule/adminhtml_observer</class>
                        <method>saveCustomerSalesruleData</method>
                    </fvets_salesrule_customer>
                </observers>
            </customer_save_after>
            <salesrule_rule_save_commit_after>
                <observers>
                    <fvets_salesrule_customer>
                        <type>singleton</type>
                        <class>fvets_salesrule/adminhtml_observer</class>
                        <method>saveSalesruleCustomerData</method>
                    </fvets_salesrule_customer>
                    <fvets_salesrule_premier>
                        <type>singleton</type>
                        <class>fvets_salesrule/adminhtml_observer</class>
                        <method>saveSalesrulePremierData</method>
                    </fvets_salesrule_premier>
                    <fvets_salesrule_labels>
                        <type>singleton</type>
                        <class>fvets_salesrule/adminhtml_observer</class>
                        <method>createLabels</method>
                    </fvets_salesrule_labels>
                </observers>
            </salesrule_rule_save_commit_after>
            <adminhtml_customer_prepare_save>
                <observers>
                    <fvets_customer_prepare_premier_save>
                        <type>singleton</type>
                        <class>fvets_salesrule/adminhtml_observer</class>
                        <method>saveCustomerPremierData</method>
                    </fvets_customer_prepare_premier_save>
                    <fvets_customer_prepare_promo_save>
                        <type>singleton</type>
                        <class>fvets_salesrule/adminhtml_observer</class>
                        <method>saveCustomerFormData</method>
                    </fvets_customer_prepare_promo_save>
                </observers>
            </adminhtml_customer_prepare_save>
            <fvets_salesrule_save_customer_relation>
                <observers>
                    <fvets_salesrule_save_customer_relation_report>
                        <type>singleton</type>
                        <class>fvets_salesrule/adminhtml_premier_report_observer</class>
                        <method>saveReport</method>
                    </fvets_salesrule_save_customer_relation_report>
                    <fvets_salesrule_save_customer_relation_exclude_duplicated>
                        <type>singleton</type>
                        <class>fvets_salesrule/adminhtml_premier_observer</class>
                        <method>excludeDuplicatedCustomerPromo</method>
                    </fvets_salesrule_save_customer_relation_exclude_duplicated>
                </observers>
            </fvets_salesrule_save_customer_relation>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FVets_SalesRule before="Mage_Adminhtml">FVets_SalesRule_Adminhtml</FVets_SalesRule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <salesrule>
                <use>standard</use>
                <args>
                    <module>FVets_SalesRule</module>
                    <frontName>salesrule</frontName>
                </args>
            </salesrule>
        </routers>
        <events>
            <salesrule_validator_process>
                <observers>
                    <fvets_salesrule_customer>
                        <type>singleton</type>
                        <class>fvets_salesrule/salesrule_observer</class>
                        <method>stopConditionDiscount</method>
                    </fvets_salesrule_customer>
                </observers>
            </salesrule_validator_process>
            <sales_order_save_commit_after>
                <observers>
                    <fvets_salesrule_order_save_after>
                        <type>singleton</type>
                        <class>fvets_salesrule/salesrule_premier_observer</class>
                        <method>calculatePremierAfterOrder</method>
                    </fvets_salesrule_order_save_after>
                </observers>
            </sales_order_save_commit_after>
            <fvets_salesrule_save_customer_relation>
                <observers>
                    <fvets_salesrule_save_customer_relation>
                        <type>singleton</type>
                        <class>fvets_salesrule/salesrule_premier_report_observer</class>
                        <method>saveReport</method>
                    </fvets_salesrule_save_customer_relation>
                </observers>
            </fvets_salesrule_save_customer_relation>
        </events>
        <layout>
            <updates>
                <fvets_salesrule>
                    <file>fvets_salesrule.xml</file>
                </fvets_salesrule>
            </updates>
        </layout>
        <translate>
            <modules>
                <FVets_SalesRule>
                    <files>
                        <default>FVets_SalesRule.csv</default>
                    </files>
                </FVets_SalesRule>
            </modules>
        </translate>
    </frontend>
    <default>
        <fvets_salesrule>
            <premier>
                <report_email>ti@4vets.com.br</report_email>
            </premier>
        </fvets_salesrule>
        <sales>
            <totals_sort>
                <discount_by_percent>15</discount_by_percent>
                <discount_by_fixed>15</discount_by_fixed>
                <discount_cart_fixed>15</discount_cart_fixed>
                <discount_buy_x_get_y>15</discount_buy_x_get_y>
                <discount_apromo_items>15</discount_apromo_items>
                <discount_apromo_cart>15</discount_apromo_cart>
            </totals_sort>
        </sales>
    </default>
    <crontab>
        <jobs>
            <!--fvets_salesrule_premier_collect>
                <schedule>
                    <cron_expr>0 0 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>fvets_salesrule/salesrule_premier_cron_customerswithautomaticpremierpolicy::run</model>
                </run>
            </fvets_salesrule_premier_collect-->
            <!--fvets_salesrule_premier_report>
                <schedule>
                    <cron_expr>0 6 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>fvets_salesrule/salesrule_premier_report_cron::run</model>
                </run>
            </fvets_salesrule_premier_report-->
        </jobs>
    </crontab>
</config>