<?xml version="1.0"?>
<config>
    <modules>
        <FVets_CatalogInventory>
            <version>1.0.0</version>
        </FVets_CatalogInventory>
    </modules>
    <global>
        <models>
            <cataloginventory>
                <rewrite>
                    <stock_item>FVets_CatalogInventory_Model_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
        </models>
    </global>
</config>