<?xml version="1.0"?>
<config>
	<modules>
		<FVets_MultipleHandles>
			<version>1.0.0</version>
		</FVets_MultipleHandles>
	</modules>
	<global>
		<models>
			<fvets_multiplehandles>
				<class>FVets_MultipleHandles_Model</class>
			</fvets_multiplehandles>
			<core>
				<rewrite>
					<layout_update>FVets_MultipleHandles_Model_Core_Layout_Update</layout_update>
				</rewrite>
			</core>
		</models>
	</global>
</config>
