<?xml version="1.0"?>

<config>
    <modules>
        <FVets_Datavalidate>
            <version>1.0.0</version>
        </FVets_Datavalidate>
    </modules>
    <global>
        <models>
            <datavalidate>
                <class>FVets_Datavalidate_Model</class>
            </datavalidate>
        </models>
        <helpers>
            <datavalidate>
                <class>FVets_Datavalidate_Helper</class>
            </datavalidate>
        </helpers>
    </global>
    <admin>
        <routers>
            <datavalidate>
                <use>admin</use>
                <args>
                    <module>FVets_Datavalidate</module>
                    <frontName>datavalidate</frontName>
                </args>
            </datavalidate>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <datavalidate>
                                            <title>FVets - Datavalidate</title>
                                            <sort_order>900</sort_order>
                                        </datavalidate>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <datavalidate>
                <use>standard</use>
                <args>
                    <module>FVets_Datavalidate</module>
                    <frontName>datavalidate</frontName>
                </args>
            </datavalidate>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <fvets_datavalidate_validate>
                <schedule>
                    <cron_expr>0 6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>datavalidate/observer::executeDataValidation</model>
                </run>
            </fvets_datavalidate_validate>
        </jobs>
    </crontab>
</config>