<?xml version="1.0"?>
<config>
    <modules>
        <FVets_Widgets>
            <version>1.0.0</version>
        </FVets_Widgets>
    </modules>
    <global>
        <helpers>
            <widgets>
                <class>FVets_Widgets_Helper</class>
            </widgets>
        </helpers>
        <blocks>
            <widgets>
                <class>FVets_Widgets_Block</class>
            </widgets>
        </blocks>
        <models>
            <widgets>
                <class>FVets_Widgets_Model</class>
            </widgets>
            <widget>
                <rewrite>
                    <widget>FVets_Widgets_Model_Widget</widget>
                    <widget_instance>FVets_Widgets_Model_Widget_Instance</widget_instance>
                </rewrite>
            </widget>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <widgets>
                    <file>fvets/widgets.xml</file>
                </widgets>
            </updates>
        </layout>
    </adminhtml>
</config>