<config>
    <modules>
        <FVets_Core>
            <version>0.0.1</version>
        </FVets_Core>
    </modules>
    <global>
        <models>
            <fvets_core>
                <class>FVets_Core_Model</class>
            </fvets_core>
            <core>
                <rewrite>
                    <layout_update>FVets_Core_Model_Layout_Update</layout_update>
                </rewrite>
            </core>
        </models>
        <helpers>
            <fvets_core>
                <class>FVets_Core_Helper</class>
            </fvets_core>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <fvets_cms_index_index>
                        <type>model</type>
                        <class>fvets_core/observer</class>
                        <method>addDeviceUserAgent</method>
                    </fvets_cms_index_index>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>

    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>fvets</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>